body{
    background-color: #1f2938;
    margin: 0px;
    color: #94a0b3;
    font-family: 'Trebuchet MS', Arial;
    text-align: justify
}
#trollinagem{
    color: #1f2938;
}
a{
    color: darkslateblue;
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
}
.ind {
    color: #94a0b3 ;
    font-family: 'Trebuchet MS', Arial;
    font-size: larger;
    padding-left: 10px;
}

.legenda{
    text-align: center;
}
h1{
    display: flex;
    justify-content: center;
    color: #697382;
    font-family: Arial;
    font-size: 40px;
    /*margin-top:50px; */
}
h2{
    display:flex;

    color: #697382;
    font-family: Arial;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
}
h3{
    display:flex;

    color: #697382;
    font-family: Arial;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
}
p{
    color: #94a0b3;
    font-family: 'Trebuchet MS', Arial;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify
}
img{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
}
video{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
}
ul{
    padding-left: 11%;
    padding-right: 10%;
}
ol{
    padding-left: 11%;
    padding-right: 10%;
}
th, td {
  border: 2px solid #3c5072;
  text-align: left;
  padding: 8px;
}
table {
  font-family: arial, sans-serif;

  border-collapse: collapse;
  margin-left: 12%;
}
#nav{
    background-color: #28364d;
    height: 50px; 
    position:sticky;
    top: 0px;
    overflow-x:auto;
    white-space: nowrap;
}
#nav a{
    width: 160px;
    padding-top: 15.625px;
    padding-bottom: 15.625px;
    display: inline-block;
    text-align: center;
    color: #94a0b3;
    text-decoration: none;
    font-family: 'Trebuchet MS', Arial;
    font-weight: bold;
    
}
#nav a:hover{
    background-color: #4d5d75;
}
#calen {
  
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#cont {
    background: radial-gradient(#28364d,#1f2938 74%); ;
    width: 9%;
    height:100vh;
    text-align: left;
    position:fixed;
    
    top: 100px;
}
#cont h4{
    color: #63728a;
    font-family: Arial;
    padding: 8px; 
    margin: 0px;
}
#cont a{
    
}
#cont h3{
    color: #94a0b3;
    font-family: Arial;
    padding: 8px; 
    
}
#redoxFeCr2O7{
    
    height: 10vw;
    max-height: 80px;
}
#redoxFeCr2O72{
    height: 20vw;
    max-height: 160px;
}

@media all and (max-width: 1350px) {
  #cont { display: none; }
}